<% include partials/header %>

<div class="container">
	<div class="container">
		<header class="jumbotron">
			<h1>Welcome to YelpCamp!</h1>
			<p>View our hand-picked campgrounds</p>
			<p><a class="btn btn-primary btn-large" href="/campgrounds/new">Add A new Campground</a></p>
		</header>
	</div>


	<div class="row text-center" style="display: flex; flex-wrap: wrap;">
		<% campgrounds.forEach(function(campground){ %>
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="card">
					<img src='<%= campground.image %>' style="object-fit: cover; object-position: center; max-height: 300px;">
					<div class="card-title">
						<h4><%= campground.name %></h4>
					</div>
					<p>
						<a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
					</p>
				</div>
			</div>
			<br>
		<% }); %>
	</div>
</div>

<% include partials/footer %>