body {
	background-color: #232323;
	margin: 0;
	font-family: 'arial';
}

button {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
}

button:hover {
	color: white;
	background: #D84700;
}

h1 {
	color: white;
	text-align: center;
	margin: 0;
	font-weight: 300;
	text-transform: uppercase;
}

.container {
	max-width: 600px;
	margin: 0 auto;
	margin-top: 10px;
}

.goal {
	font-size: 2em;
}

.message {
	display: inline-block;
	width: 20%;
}

.selected {
	background-color: #D84700;
	color: white;
}

.square {
	 width: 30%;
	 margin: 1.66%;
	 padding-bottom: 30%;
	 float: left;
	 border-radius: 20%;
	 transition: background-color .6s;
	 -moz-transition: background-color .6s;
	 -webkit-transition: background-color .6s;
}

#subHeader {
	background-color: white;
	height: 30px;
	text-align: center;
}